/*
Color Pallete:
--davys-gray: #50514fff;
--ash-gray: #cbd4c2ff;
--snow: #fffcffff;
--cerulean: #247ba0ff;
--khaki: #c3b299ff;
*/

/*GLOBAL STYLES
-------------------------------------*/

/* 
  https://www.paulirish.com/2012/box-sizing-border-box-ftw/
*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background: snow;
}

/* links */
a {
    color: #247ba0ff;

}

a:hover {
    color: #cbd4c2ff;
    text-decoration: none;
}

footer a {
    color: #cbd4c2ff;
}
footer a:hover {
    color: #fffcffff;
    text-decoration: none;
}

.btn {
    background-color: #247ba0ff;
    color: #fffcffff;
    text-decoration: none;
}

/* HOME
-------------------------------------*/
.home {
    background: url(../images/bg-home-office-bookshelf.jpg) no-repeat;
    background-size: cover;
}
.home .content-wrapper {
    background: rgb(255 255 255 / 0.9);
}

/* RESUME
-------------------------------------*/

/* Profile
-------------------------------------*/

/* Projects
-------------------------------------*/

/* Work Experience
-------------------------------------*/

/* Education
-------------------------------------*/

/* FOOTER
-------------------------------------*/
footer {
    background: #50514fff;
    color: #cbd4c2ff;
}
.socials {
    list-style-type: none;
    padding: 0;
}
.socials li {
    display: inline-block; /*This applies the list items like block elements*/ 
}
.socials img {
    width: 32px;
}